
<div class="jumbotron hacked text-center">
    
    <nav class="navbar navbar-inverse navbar-hacked">
      <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <div class="navbar-header">
            <%= link_to 'The Pirate Club', root_path, class: 'navbar-brand' %>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="nav navbar-nav navbar-right text-center">
            <li><%= link_to "Events", "#" %></li>
            <li><%= link_to "Members", "#" %></li>
            <li><%= link_to "Contact", "#" %></li>
          </ul> 
        </div>
      </div>
    </nav>
    
    <div class="glitch" data-text="THE&nbsp;PIRATE&nbsp;CLUB">THE PIRATE CLUB</div>
    <h3>//Welcome to the official site for the RSHS Pirate Club.</h3>
    <p>Club Meetings: Thursday @ Room 135</p>
    
    <%= link_to "Club Executives", "#", class: "btn btn-danger btn-jumbohack" %>
    <%= link_to "Upcoming Events", "#", class: "btn btn-danger btn-jumbohack" %>
    <br/>
</div>

<div class="jumbotron hacked-2">
  <div class="container">
    
    <div class="well objective-well">
      <div class="row">
        <div class="col-md-2 col-md-offset-1 text-center">

          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/csswizardry/128.jpg" class="img-circle img-objective"/>
        </div>
          <div class="col-md-8">
            <h2>Words from the Captain <small></small></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, sit, repellendus unde alias hic pariatur fugit ab perspiciatis. Commodi, nulla, vero ipsum suscipit eligendi omnis atque beatae magnam vel deserunt!</p>
            <%= link_to "Sign up for news and upcoming events!", "#", class:"btn btn-success btn-hacked success" %>
          </div>
      </div>
    </div>

    <div class="well objective-well">
      <div class="row">
        <div class="col-md-2 col-md-offset-1 text-center">

          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/csswizardry/128.jpg" class="img-circle img-objective"/>
        </div>
          <div class="col-md-8">
            <h2>Our Objectives <small></small></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, sit, repellendus unde alias hic pariatur fugit ab perspiciatis. Commodi, nulla, vero ipsum suscipit eligendi omnis atque beatae magnam vel deserunt!</p>
            <%= link_to "Sign up for news and upcoming events!", "#", class:"btn btn-success btn-hacked success" %>
          </div>
      </div>
    </div>
    
  </div>
</div>

<div class="well objective-well feature-well text-center">
  <div class="row">
    <h2>Club Features</h2>
    <br/>
      <div class="col-md-4">
        <i class="fa fa-desktop fa-5x"></i>
        <br/>
        <h4>Learn about your Computer</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, perspiciatis expedita temporibus. In, quasi, praesentium eos ipsum reprehenderit sequi excepturi consectetur id quia omnis modi qui cumque quidem hic ullam.</p>
      </div>
      
      <div class="col-md-4">
        <i class="fa fa-code fa-5x"></i>
        <br/>
        <h4>Learn to Code</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, perspiciatis expedita temporibus. In, quasi, praesentium eos ipsum reprehenderit sequi excepturi consectetur id quia omnis modi qui cumque quidem hic ullam.</p>
      </div>
      
      <div class="col-md-4">
        <i class="fa fa-mobile fa-5x"></i>
        <br/>
        <h4>Hack your Phone</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, perspiciatis expedita temporibus. In, quasi, praesentium eos ipsum reprehenderit sequi excepturi consectetur id quia omnis modi qui cumque quidem hic ullam.</p>
      </div>
  </div>
  
  <br/>
  <%= link_to "Sign up for Club Contents", "#", class:"btn btn-primary" %>
</div>