<link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
<div class="jumbotron hacked text-center">
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
          <div class="navbar-header">
              <%= link_to "The Pirate Club", "#", class: "navbar-brand" %>
          </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", "#" %></li>
          <li><%= link_to "About", "#" %></li>
          <li><%= link_to "Contact", "#" %></li>
        </ul>
      </div>
    </nav>
    
    <div class="glitch" data-text="THE&nbsp;PIRATE&nbsp;CLUB">THE PIRATE CLUB</div>
    <h3>// Welcome to the official site for the RSHS Pirate Club.</h3>
    <p>Club Meetings: Thursday @ Room 135</p>
    
    <%= link_to "Club Executives", "#", class: "btn btn-danger btn-jumbohack" %>
    <%= link_to "Club Events", "#", class: "btn btn-danger btn-jumbohack" %>
</div>