
<div class="jumbotron hacked text-center" id="navtron">
    <div class="glitch" data-text="THE&nbsp;PIRATE&nbsp;CLUB">THE PIRATE CLUB</div>
    <h3>//Welcome to the official site for the RSHS Pirate Club.</h3>
    <p>Club Meetings: Thursday @ Room 135</p>
    
    <%= link_to "Club Executives", "#", class: "btn btn-danger btn-jumbohack" %>
    <%= link_to "Upcoming Events", "#", class: "btn btn-danger btn-jumbohack" %>
    <br/>
    <br>
    <%= link_to "Create your profile!", new_user_profile_path(current_user), class: "btn btn-primary btn-hacked" if current_user %>
</div>

<div class="jumbotron hacked-2">
  <div class="container">
    
    <div class="well objective-well">
      <div class="row">
        <div class="col-md-2 col-md-offset-1 text-center">

          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/bermonpainter/128.jpg" class="img-circle img-objective"/>
        </div>
          <div class="col-md-8">
            <h2>Words from the Captain <small></small></h2>
            <p>Arrrrrrrrrrrrhg! Welcome! Just know that you might be thinking of a different kind of pirate than us... No, we do not rule the 7 seas. Rather, we love the internet and what it has to offer. However, we are not condoning piracy...</p>
            <%= link_to "Sign up for news and upcoming events!", new_user_registration_path, class:"btn btn-primary btn-hacked" if !current_user %>
          </div>
      </div>
    </div>

    <div class="well objective-well">
      <div class="row">
        <div class="col-md-2 col-md-offset-1 text-center">

          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/bermonpainter/128.jpg" class="img-circle img-objective"/>
        </div>
          <div class="col-md-8">
            <h2>Goals for this Year</h2> <small></small></h2>
            <p>We plan to lease a server for one... And we're always listening for new ideas! (Related to tech)</p>
            <%= link_to "View More >", "#", class:"btn btn-primary btn-hacked" %>
          </div>
      </div>
    </div>
    
  </div>
</div>

<div class="well objective-well feature-well text-center">
  <div class="row">
    <h2>Club Features</h2>
    <br/>
      <div class="col-md-4">
        <i class="fa fa-desktop fa-5x"></i>
        <br/>
        <h4>Learn about your Computer</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, deserunt, odio, quasi, ad quo autem praesentium quaerat facere voluptatem fugiat voluptatum sed itaque ex! Quia minima voluptas corporis vero blanditiis.</p>
      </div>
      
      <div class="col-md-4">
        <i class="fa fa-code fa-5x"></i>
        <br/>
        <h4>Learn to Code</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, perspiciatis expedita temporibus. In, quasi, praesentium eos ipsum reprehenderit sequi excepturi consectetur id quia omnis modi qui cumque quidem hic ullam.</p>
      </div>
      
      <div class="col-md-4">
        <i class="fa fa-mobile fa-5x"></i>
        <br/>
        <h4>Hack your Phone</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, perspiciatis expedita temporibus. In, quasi, praesentium eos ipsum reprehenderit sequi excepturi consectetur id quia omnis modi qui cumque quidem hic ullam.</p>
      </div>
  </div>
  
  <br/>
  <%= link_to "Sign up for Club Contents", new_user_registration_path, class:"btn btn-primary btn-hacked" if !current_user %>
</div>

<div class="container footer-container">
  <div class="row">
    
    <div class="col-md-6 col-md-offset-3">
      <div class="well objective-well footer-well">
        <h4>Meeting Schedules <i class="fa fa-calendar-check-o"></i></h4>
        <p>Room 1 Thursdays 24:00 - 24:00</p>    
        <br>
        <br>
      </div>
    </div>
    
  </div>
</div>

    <div class="well objective-well end-well text-center">
          <ul class="footer-list">
            <li><a href=""><i class="fa fa-envelope"></i></a></li>
            <li><a href=""><i class="fa fa-phone"></i></a></li>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
          </ul>
  </div>